#Carrito{
    height: 35px;
    width: 35px;
    margin-top: 2%;
}

.CarritocompraArte{
    width: 30%;
    background-color: rgba(255, 0, 0, 0);
    border: 1px rgba(0, 0, 0, 0) solid;
}
.Carritocompra1 {
    height: 85%;
    border: none;
    border-radius: 8px; 
    color: rgb(0, 0, 0); 
    cursor: pointer;
    background-color: #000000;
    transition: background-color 0.3s ease;
    margin-right: 5%;
    margin-top: 1%;
}

.Title{
    text-align: center;
}

.ArteMio{
    font-size: x-large;
    width: 50%;
    height: 60%;
    margin-top: 1%;
    border-radius: 20px;
}

@media screen and (max-width: 390px) {
    #Carrito {
        height: 20px;
        width: 20px;
    }

    .CarritocompraArte {
        width: 50%; /* Ajustado para pantallas muy estrechas */
    }

    .Title {
        margin-top: 1%;
    }

    .ArteMio {
        font-size: medium; /* Ajustado el tamaño de fuente para pantallas pequeñas */
    }
}
