/* h1{
    text-align: center;
}
/* .container{
    text-align: right;
} */
/* img{
    padding-top: 50px;
    position:relative;
    top: 10px;
    left:700px;    
    border: 1px solid black;
} 
Body{
    background-color: aquamarine;
} */ 