h1{
    text-align: center;
}
.contenedor-flex{
    display:flex;
}
div2.container img{
    flex: container img;       
    position:relative;
    left:900px; 
    margin:500 px ;
    justify-content: space-between;
}
Body{
    background-color: aquamarine;
    height: 800 px;
    width: 1200px;
}

.textos h2{ 
    flex: h2;
    text-align:justify;
    position: relative;
    /* padding: auto; */
    margin-top: 100px;
    margin-left: 100px;
    
}
.textos h3{
    flex: h3;
    /* padding: auto; */
    margin-top: 220px;
    margin-left: 300px;
    position: relative;
}