.Container{
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Img{
    height: 450px;
    margin-left: 5%;
    margin-right: 300px;
    margin-top: 1%;
}

.TextandForm{
    border: 1px black solid;
    margin-top: 1%;
    margin-right: 2%;
    align-items: center;
    width: 100%;
}

.Text{
    text-align: center;
}

.Form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Button{
    display: flex;
    justify-content: center;
    align-items: center;
}