*{
    margin: 0;
    padding: 0;
  }
  
  .header {
    height: 100px;
    background: #000000;
    padding: 0 50px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-LogoCompany {
    width: 130px;
    height: 100px;
  }
  
  .divLogo{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .divButton{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  } 
  
  .arte {
    padding: 1.5% 5%;
    font-size: larger;
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 2%;
    cursor: pointer;
  }
  .Nombre{
    padding: 1% 5%;
    font-size: larger;
    border: none;
    border-radius: 8px; 
    color: rgb(255, 255, 255); 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5%;
  }
  
  .CarritoCompra {
    height: 55%;
    color: rgb(0, 0, 0); 
    cursor: pointer;
    margin-right: 10%; 
    margin-left: 5%;
  }
  .arte:hover {
    background-color: #c7baba; 
  }