header {
    height: 100px;
    background: #000000;
    padding: 0 50px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-LogoCompany {
    margin-left: 1100%;
    width: 130px;
    height: 100px;
}

.divLogo{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divButton{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.header-button {
    padding: 10px 50px;
    background-color: #cccccc;
    border: none;
    border-radius: 8px; 
    color: rgb(0, 0, 0); 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 50px;
  }
  
  .header-button:hover {
    background-color: #6b6b6b; 
  }

  @media screen and (max-width: 390px) {
    header {
        margin-right: -30.2%;
        padding: 10px; 
    }

    .divButton {
        border: 1px #cccccc;
        text-align: center;
        margin-top: 0; 
    }

    .header-LogoCompany {
        width: 60px; 
        height: auto; 
        margin-left: 0; 
    }

    .divLogo,
    .divButton {
        width: 100%; 
    }

    .header-button {
        padding: 8px 15px; 
        margin: 5px 0;
    }
}















